<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PreProcessServlet</servlet-name>
        <servlet-class>servlet.PreProcessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateViewServlet</servlet-name>
        <servlet-class>servlet.GenerateViewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PreProcessServlet</servlet-name>
        <url-pattern>/PreProcessServlet</url-pattern>
    </servlet-mapping>
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>
            /Applications/NetBeans/glassfish-4.1.1/data/
        </param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>GenerateViewServlet</servlet-name>
        <url-pattern>/GenerateViewServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.html</welcome-file>
    </welcome-file-list>
</web-app>
